
.carousel {
    
    width: $carousel-image-width;
    height: $carousel-image-height;
    display: flex;
    flex-direction: column;
    background-size: 100% 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: $border-design;


    .carousel-background-image {
        position: absolute;
        z-index: 0;
        transition-duration: $carousel-transition-duration;
        .images-container {
            display: flex;
            flex-direction: row;
            justify-content: stretch;

            img {
                border-right: 2px solid $secondary-color;
            }
        }
    }
    

    .button-control-container {
        
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .button-control {

            display:         flex;
            flex-direction:  row;
            justify-content: space-between;

            padding-left:  1%;
            padding-right: 1%;

            button {
                background: none;
                color:      inherit;
                border:     none;
                font-style: inherit;
                cursor:     pointer;
                outline:    inherit;
                
                span {
                    color:  $buttons-arrows-contol-color;
                    text-shadow: $buttons-arrows-contol-shadow;
                    font-size: $buttons-arrows-contol-size;
                    opacity: $buttons-arrows-contol-opacity;

                    transition-duration: $buttons-arrows-transition-duration;
                }
                span:hover {
                    opacity: $buttons-arrows-contol-opacity-hover;
                    font-size: $buttons-arrows-contol-size-hover;           
                }
            }
            
        }  

    }

    .images-controls {

        height: 25px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $btn-control-background;
        opacity: $btn-control-opacity;
        padding: 0.3%;
        text-align: center;

        .bottom-button-control{

            button {

                background-color: $btn-control-color;
                color:      inherit;
                border:     $btn-control-border;
                width:      $btn-control-width;
                height:     $btn-control-height;
                margin:     $btn-control-margin;
                border-radius: $btn-control-border-radius;
                cursor: pointer;
                transition-duration: $btn-control-transition-duration;

                box-shadow: 0.5px 0.5px 0.5px grey;
            } 
            .actual-btn-control {
                background-color: $actual-btn-control-color;
                width: $actual-btn-control-width;
            }        
        }
    }
}