$primary-color:   #243447;
$secondary-color: whitesmoke;

/*
    * Carousel design settings *
*/
$carousel-image-width:  900px;
$carousel-image-height: 398px;

$border-design: 1px solid $secondary-color;

/*
    * Arrows buttons (Previous, Next) settings *
*/
$buttons-arrows-contol-color:              $secondary-color;
$buttons-arrows-contol-shadow:             1px 1px 1px $primary-color;
$buttons-arrows-contol-size:               4.5rem;
$buttons-arrows-contol-size-hover:         5rem;
$buttons-arrows-contol-opacity:            0.5;
$buttons-arrows-contol-opacity-hover:      0.8;

/*
    * Bottom radio buttons settings *
*/
$btn-control-width:               14px;
$btn-control-height:              14px;
$btn-control-margin:              5px;
$btn-control-border-radius:       5px;
$btn-control-opacity:             0.7;
$btn-control-background:          $primary-color;
$btn-control-outline:             2px solid $secondary-color;
$btn-control-border-radius:       50%;
$actual-btn-control-color:        $secondary-color;

/*
    * Animations times settings *
*/
$carousel-transition-duration:       1s;
$buttons-arrows-transition-duration: 500ms;
$btn-control-transition-duration:    500ms;